.formtips{
	width: 200px;
	margin:2px;
	padding:2px;
}
.onError{
    background:#FFE0E9 url(../images/reg3.gif) no-repeat 0 center;
	padding-left:25px;
}
.onSuccess{
    background:#E9FBEB url(../imsges/reg4.gif) no-repeat 0 center;
	padding-left:25px;
}
.high{
    color:red;
}