<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>getParam</servlet-name>
    <servlet-class>servlet.getParam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getParam</servlet-name>
    <url-pattern>/servlet/getParam</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getResult</servlet-name>
    <servlet-class>servlet.getResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getResult</servlet-name>
    <url-pattern>/servlet/getResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Checkin</servlet-name>
    <servlet-class>servlet.Checkin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Checkin</servlet-name>
    <url-pattern>/servlet/Checkin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doRegister</servlet-name>
    <servlet-class>servlet.doRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doRegister</servlet-name>
    <url-pattern>/servlet/doRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadHandleServlet</servlet-name>
    <servlet-class>servlet.UploadHandleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadHandleServlet</servlet-name>
    <url-pattern>/servlet/UploadHandleServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>HandleFile</servlet-name>
    <servlet-class>servlet.HandleFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleFile</servlet-name>
    <url-pattern>/servlet/HandleFile</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>